mixin post-variant-2(image, imageWidth, imageHeight, categories, postLink, postTitle, postContent, titleClass, unitClass, imgWrapClass)
  .post.post-variant-2
    .unit.unit-xl-horizontal(class=unitClass)
      .unit-left
        .post-inner
          div(class=imgWrapClass).reveal-inline-block
            img.post-image(src=image, width=imageWidth, height=imageHeight, alt="")
          .post-caption
            ul
              each name, href in categories
                li
                  a(href=href)
                    span.label.label-warning=name
      .unit-body
        div(class=titleClass)
          a.post-link(href=postLink)= postTitle
        -if(postContent !== '')
          p= postContent
        block