mixin list-social(ulClass, liClass, iconClass)
  //- list social
  ul.list-inline-0(class=ulClass)
    li(class=liClass)
      a.icon.icon-circle.fa-facebook(href='#', class=iconClass)
    li(class=liClass)
      a.icon.icon-circle.fa-twitter(href='#', class=iconClass)
    li(class=liClass)
      a.icon.icon-circle.fa-google-plus(href='#', class=iconClass)
    li(class=liClass)
      a.icon.icon-circle.fa-youtube(href='#', class=iconClass)
    li(class=liClass)
      a.icon.icon-circle.fa-feed(href='#', class=iconClass)